* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.filledSquare {
  background: #fff;
  font-size: 36px;
  font-weight: bold;
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  background: #fff;
  border: 2px solid #999;
  height: 33.3333%;
  width: 33.3333%;
  display: inline-block;
  vertical-align: bottom;
}

.box {
  background: #fff;
  border: 2px solid #4f4f4f;
  height: 100%;
  width: 33.3333%;
  display: inline-block;
}
.bigBox {
  background: #fff;
  height: 33.3333%;
  width: 100%;
}
.border {
  border: 2px solid #000000;
  height: 600px;
  width: 600px;
}
